.popup-show body::after {
  opacity: 1;
}
.popup {
  position: fixed;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  padding: 30px 10px;
  transition: visibility 0.8s ease 0s;
  visibility: hidden;
  pointer-events: none;
}
.popup_show {
  z-index: 150;
  visibility: visible;
  overflow: auto;
  pointer-events: auto;
}
.popup_show .popup__content {
  visibility: visible;
  transform: scale(1);
}
.popup__wrapper {
  display: flex;
  flex-direction: column;
  align-items: center;
  min-height: 100%;
  flex: 1 1 auto;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}
.popup__content {
  visibility: hidden;
  transform: scale(0);
  transition: transform 0.3s ease 0s;
  background-color: #304ea0;

  width: 100%;
  max-width: toRem(1200);
  border-radius: 10px;
  .lock & {
    visibility: visible;
  }
}

//========================================================================================================================================================

.popup {
  &__wrapper {
  }

  &__content {
    .submit {
      padding: 0;
      position: relative;
      overflow: hidden;

      &::before {
        content: "";
        background-image: url("@img/decore/decore-popup.svg");
        background-repeat: no-repeat;
        // background-size: 100% 100%;
        background-size: cover;
        position: absolute;
        width: 100%;
        height: 100%;
        top: 0;
        left: 0;
      }
    }
  }

  &__close {
    position: absolute;
    top: 0;
    left: 0;
    width: 0;
    height: 0;
  }
}
