// Базові стилі спойлерів
// Сніппет (HTML): spoller

// Блок зі спойлерами
.spollers {
  height: fit-content;
  display: grid;
  @include adaptiveValue("gap", 20, 10);
}
// Спойлер
.spollers__item {
  font-size: toRem(20);
}
// Заголовок спойлера
.spollers__title {
  width: 100%;
  cursor: default;
  text-align: left;

  position: relative;
  list-style: none;

  font-weight: 400;
  @include adaptiveValue("font-size", 32, 20);
  line-height: 110%;
  padding-bottom: toRem(10);
  margin-bottom: toRem(10);
  border-bottom: 1px solid rgba(40, 61, 136, 0.1);

  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: toRem(10);
  color: #283d88;

  &::marker {
  }
  ._spoller-init & {
    cursor: pointer;
    &::after {
      content: "\e900";
      @extend %ic;
      @include adaptiveValue("font-size", 16, 12);
      color: #283d88;
      transition: transform 0.5s ease 0s;
    }

    &._spoller-active {
      &::after {
        transform: rotate(180deg);
      }
    }
  }
}
// Контент спойлера
.spollers__body {
}
.spollers__list {
}
.spollers__item {
  &:not(:last-child) {
    margin-bottom: toRem(10);
  }

  font-weight: 400;
  @include adaptiveValue("font-size", 20, 18);
  line-height: 130%;
  color: #000;
}
.spollers__link {
  text-decoration: underline;
  @media (any-hover: hover) {
    &:hover {
      color: #ff9e2c;
    }
  }
}
