.facult {
  @include adaptiveValue("padding-top", 75, 30);
  @include adaptiveValue("padding-bottom", 75, 30);
  &__container {
    display: grid;
  }

  &__maintitle {
    &:not(:last-child) {
      @include adaptiveValue("margin-bottom", 50, 30);
    }
  }

  &__button-more {
    @include adaptiveValue("margin-top", 50, 30);
    margin-left: auto;
    margin-right: auto;
  }

  &__title {
    font-weight: 400;
    @include adaptiveValue("font-size", 32, 24);
    line-height: 110%;

    &:not(:last-child) {
      @include adaptiveValue("margin-bottom", 30, 20);
    }

    transition: color 0.3s ease 0s;
    @media (any-hover: hover) {
      &:hover {
        color: #ff9e2c;
      }
    }

    display: flex;
    flex-direction: row-reverse;
    align-items: center;
    justify-content: flex-end;
    @include adaptiveValue("gap", 30, 15);

    &::before {
      @include adaptiveValue("font-size", 30, 20);
    }
  }

  &__item {
    display: grid;
    gap: toRem(10);

    grid-template-columns: percent(285, 1200) percent(345, 1200) repeat(3, percent(176, 1200));

    @media (max-width: $pc) {
      grid-template-columns: repeat(4, 1fr);
    }
    @media (max-width: $mobile) {
      grid-template-columns: repeat(2, 1fr);
    }

    &:not(:last-child) {
      @include adaptiveValue("margin-bottom", 35, 20);
      border-bottom: 1px solid #304ea0;
      padding-bottom: toRem(15);
    }

    &_small {
      @include adaptiveValue("gap", 20, 10);
      grid-template-columns: percent(575, 1200) repeat(3, percent(185, 1200));

      @media (max-width: $pc) {
        grid-template-columns: 1fr;
      }
      @media (max-width: $mobile) {
        grid-template-columns: repeat(2, 1fr);
      }
    }
  }

  &__body {
    display: flex;
    flex-direction: column;

    position: relative;
    &:nth-child(3),
    &:nth-child(4),
    &:nth-child(5) {
      @media (min-width: $pc) {
        padding-top: toRem(30);
      }
    }

    .facult__item_small & {
      &:nth-child(2),
      &:nth-child(3),
      &:nth-child(4) {
        @media (min-width: $pc) {
          padding-top: toRem(30);
        }
      }
    }

    @media (max-width: $pc) and (min-width: $mobile) {
      &:nth-child(1) {
        grid-column: 1 / 3;
      }
      &:nth-child(2) {
        grid-column: 3 / 5;
      }
    }
    @media (max-width: $mobile) {
      &:nth-child(1),
      &:nth-child(2),
      &:nth-child(3) {
        grid-column: span 2;
      }
    }

    .facult__item_small & {
      @media (max-width: $pc) and (min-width: $mobile) {
        &:nth-child(1) {
          grid-column: 1;
        }
        &:nth-child(2) {
          grid-column: 1;
        }
      }
      @media (max-width: $mobile) {
        &:nth-child(1),
        &:nth-child(2) {
          grid-column: span 2;
        }
        &:nth-child(3) {
          grid-column: 1;
        }
      }
    }
  }

  &__decor {
    width: toRem(200);
    top: 0;
  }

  &__groop-title {
    font-weight: 600;
    @include adaptiveValue("font-size", 20, 18);
    line-height: 110%;

    padding: toRem(4) toRem(20);
  }

  &__groop {
    padding: toRem(20) toRem(10);
    border-radius: 10px;
    background-color: #f4f7f9;

    display: flex;
    gap: toRem(10);
    height: 100%;
  }

  &__inner {
    padding: toRem(20) toRem(8);
    height: 100%;
    border-radius: 10px;
    background-color: #f4f7f9;
  }

  &__list {
    padding-left: toRem(25);
  }

  li.facult__text {
    list-style: disc;
  }
  &__text {
    font-weight: 400;
    @include adaptiveValue("font-size", 20, 18);
    line-height: 130%;
  }

  &__image {
    flex: 0 0 toRem(110);

    img {
      max-width: 100%;
    }
  }

  &__content {
    .facult__text {
      margin-bottom: toRem(7);
    }
  }

  &__place {
    font-weight: 400;
    font-size: toRem(14);
    line-height: 100%;
    &:not(:last-child) {
      margin-bottom: toRem(7);
    }
  }

  &__subtitle {
    font-weight: 600;
    font-size: toRem(16);
    line-height: 137%;

    &:not(:last-child) {
      @include adaptiveValue("margin-bottom", 20, 15);
    }
  }

  &__subtext {
    font-weight: 400;
    @include adaptiveValue("font-size", 32, 20);
    line-height: 110%;
  }
}
