//====================================================================================================

.hero {
  position: relative;
  &__container {
    position: relative;
    z-index: 2;
  }

  &__body {
    @include adaptiveValue("padding-top", 250, 130);
    @include adaptiveValue("padding-bottom", 110, 80);

    display: grid;
    @include adaptiveValue("gap", 50, 30);

    @media (min-width: $tablet) {
      min-height: toRem(600);
    }
  }

  &__content {
    color: #fff;
    display: flex;
    align-items: center;
    @include adaptiveValue("gap", 20, 10);

    @media (max-width: $mobile) {
      flex-direction: column;
      align-items: flex-start;
    }
  }

  &__inner {
  }

  &__image {
    @include adaptiveValue("width", 158, 70, 0, 1230, 767);

    img {
      max-width: 100%;
    }
  }

  &__text {
    color: #fff;
    font-weight: 400;
    @include adaptiveValue("font-size", 32, 20);
    line-height: 110%;
  }

  &__name {
    font-weight: 600;
    @include adaptiveValue("font-size", 140, 60);
    line-height: 100%;
    letter-spacing: -0.03em;
    text-transform: uppercase;

    &_white {
      color: #fff;
    }
  }

  &__button {
    justify-self: flex-end;

    @media (max-width: $mobile) {
      width: 100%;
    }
  }

  &__bg-ibg {
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    z-index: 1;
  }
}

//====================================================================================================

.numbers {
  @include adaptiveValue("padding-top", 60, 40);
  @include adaptiveValue("padding-bottom", 75, 30);
  &__container {
    display: grid;
    @include adaptiveValue("gap", 50, 30);
  }

  &__text {
    font-weight: 600;
    @include adaptiveValue("font-size", 32, 20);
    line-height: 150%;
    letter-spacing: -0.03em;
    color: #273d88;
  }

  &__items {
    background-color: #304ea0;
    border-radius: 10px;
    display: grid;
    grid-template-columns: repeat(4, 1fr);

    padding: toRem(20) 0;

    @media (max-width: $mobile) {
      grid-template-columns: repeat(2, 1fr);
      row-gap: toRem(10);
      column-gap: toRem(20);
      padding: toRem(20) toRem(15);
    }
  }

  &__item {
    padding-top: toRem(15);
    padding-bottom: toRem(10);

    @media (min-width: $mobile) {
      @include adaptiveValue("padding-left", 40, 20, 0, 1230, 991);
      @include adaptiveValue("padding-right", 40, 20, 0, 1230, 991);
      &:not(:last-child) {
        border-right: 1px solid rgba(255, 255, 255, 0.2);
      }
    }
  }

  &__num {
    font-weight: 700;
    @include adaptiveValue("font-size", 42, 36);
    line-height: 95%;
    color: #ff9f2c;
    margin-bottom: toRem(4);
  }

  &__item-text {
    font-weight: 400;
    @include adaptiveValue("font-size", 20, 18);
    line-height: 130%;
    color: #fff;
  }
}

//========================================================================================================================================================

.submit {
  @include adaptiveValue("padding-top", 75, 30);
  @include adaptiveValue("padding-bottom", 75, 30);
  &__container {
  }

  &__maintitle {
    @include adaptiveValue("margin-bottom", 50, 30);
  }

  &__body {
    border-radius: 10px;
    background-color: #304ea0;
    color: #fff;

    @include adaptiveValue("padding-top", 50, 25);
    @include adaptiveValue("padding-bottom", 50, 25);
    @include adaptiveValue("padding-right", 50, 15, 0, 1230, 767);
    @include adaptiveValue("padding-left", 50, 15, 0, 1230, 767);
  }

  &__title {
    font-weight: 400;
    @include adaptiveValue("font-size", 32, 25);
    line-height: 110%;
    &:not(:last-child) {
      margin-bottom: toRem(8);
    }
  }

  &__text {
    font-weight: 400;
    @include adaptiveValue("font-size", 20, 18);
    line-height: 130%;

    margin-bottom: toRem(30);
  }

  &__form {
  }
}

.form-submit {
  &__body {
    display: flex;
    gap: toRem(20);

    @media (max-width: $pc) {
      flex-direction: column;
      align-items: center;
    }

    &:not(:last-child) {
      margin-bottom: toRem(10);
    }
  }

  &__inputs {
    flex: 1 1 auto;
    display: grid;
    grid-template-columns: repeat(4, 1fr);

    gap: toRem(10);

    @media (max-width: $pc) {
      width: 100%;
      grid-template-columns: repeat(auto-fill, minmax(toRem(200), 1fr));
    }

    @media (max-width: $mobile) {
      grid-template-columns: 1fr;
    }
  }

  &__input {
  }

  &__info {
    font-weight: 400;
    font-size: toRem(12);
    line-height: 133%;
    opacity: 0.6;

    @media (max-width: $pc) {
      text-align: center;
    }
    @media (max-width: $mobile) {
      text-align: start;
    }
  }

  &__button {
    white-space: nowrap;

    @media (max-width: $mobile) {
      width: 100%;
    }

    &::after {
      color: #ff9f2c;
    }
  }
}

//========================================================================================================================================================

.faculties {
  @include adaptiveValue("padding-top", 75, 30);
  @include adaptiveValue("padding-bottom", 75, 30);
  &__container {
    display: grid;
  }

  &__title {
    @include adaptiveValue("margin-bottom", 50, 30);
  }

  &__items {
    display: grid;

    grid-template-columns: repeat(auto-fill, minmax(toRem(370), 1fr));

    @include adaptiveValue("column-gap", 50, 20, 0, 1230, 991);
    @include adaptiveValue("row-gap", 78, 40, 0, 1230, 991);

    @media (max-width: $mobile) {
      grid-template-columns: 1fr;
    }

    &:not(:last-child) {
      @include adaptiveValue("margin-bottom", 50, 30);
    }
  }

  &__item {
  }

  &__button {
    justify-self: center;
  }
}

.item-faculties {
  border: 1px solid #3a62ba;
  border-radius: 22px;
  background-color: #f4f7f9;

  @include adaptiveValue("padding-top", 50, 25);
  padding-bottom: toRem(10);
  @include adaptiveValue("padding-right", 30, 15, 0, 1230, 767);
  @include adaptiveValue("padding-left", 30, 15, 0, 1230, 767);

  display: flex;
  flex-direction: column;

  &__top {
    padding: toRem(12) toRem(20);
    border-radius: toRem(35);
    display: inline-flex;
    align-items: center;
    @include adaptiveValue("gap", 20, 10);
    background-color: #fff;

    &:not(:last-child) {
      margin-bottom: toRem(20);
    }

    @media (max-width: $mobileSmall) {
      flex-direction: column;
      align-items: flex-start;
    }
  }

  &__icon {
    @include adaptiveValue("width", 46, 40);
    @include adaptiveValue("height", 46, 40);
    border-radius: 10px;

    display: flex;
    justify-content: center;
    align-items: center;
    padding: toRem(10);
    background-color: #304ea0;

    img {
      max-width: 100%;
    }
  }

  &__content {
  }

  &__title {
    font-weight: 400;
    @include adaptiveValue("font-size", 20, 18);
    line-height: 130%;
    &:not(:last-child) {
      margin-bottom: toRem(2);
    }
  }

  &__mark {
    font-weight: 400;
    @include adaptiveValue("font-size", 16, 14);
    line-height: 94%;
    opacity: 0.6;
  }

  &__text {
    font-weight: 400;
    @include adaptiveValue("font-size", 20, 16);
    line-height: 130%;
    color: #304ea0;

    flex: 1 1 auto;

    &:not(:last-child) {
      @include adaptiveValue("margin-bottom", 50, 30);
    }
    p {
      &:not(:last-child) {
        @include adaptiveValue("margin-bottom", 15, 10);
      }
    }
  }

  &__button {
    margin-top: auto;
    align-self: flex-start;
    @media (max-width: $mobile) {
      width: 100%;
    }
  }
}

//========================================================================================================================================================

.training-us {
  @include adaptiveValue("margin-top", 75, 30);
  @include adaptiveValue("margin-bottom", 75, 30);
  @include adaptiveValue("padding-top", 50, 30);
  @include adaptiveValue("padding-bottom", 50, 30);
  border-radius: 20px;
  background-color: #283d88;
  &__container {
  }

  &__title {
    color: #fff;
    @include adaptiveValue("margin-bottom", 50, 30);
  }

  &__items {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    @include adaptiveValue("column-gap", 45, 20, 0, 1230, 991);
    row-gap: toRem(20);

    @media (max-width: $tablet) {
      grid-template-columns: 1fr;
    }
  }

  &__item {
  }
}
.title {
}
.item-training-us {
  background-color: #fff;
  border-radius: 8px;
  padding: toRem(34) toRem(25) toRem(25);
  color: #283d88;
  position: relative;
  &_1 {
    @media (min-width: $tablet) {
      grid-row: 1 / 3;
    }

    .item-training-us__text {
      grid-template-columns: 1fr;
      max-width: 100%;
    }
    .item-training-us__decor {
      bottom: 50px;
      right: 0;
      width: 42.3%; /* 242/572 */
    }
  }

  &_2 {
    background-color: #ff9e2c;
  }

  &_3 {
    .item-training-us__decor {
      bottom: 25px;
      right: 18px;
      width: 23.6%; /* 135/572 */

      @media (max-width: $mobile) {
        width: 35%;
      }
    }
  }

  &__title {
    font-weight: 400;
    @include adaptiveValue("font-size", 32, 26);
    line-height: 110%;

    &:not(:last-child) {
      margin-bottom: toRem(24);
    }
  }

  &__text {
    font-weight: 400;
    @include adaptiveValue("font-size", 20, 18);
    line-height: 130%;
    max-width: 80%;

    display: grid;
    @include adaptiveValue("gap", 20, 15);
    grid-template-columns: repeat(2, 1fr);

    @media (max-width: $mobile) {
      grid-template-columns: 1fr;
    }

    p {
      max-width: 300px;
    }
  }

  &__decor {
    position: absolute;
    display: flex;
    justify-content: flex-end;
    img {
      max-width: 100%;
    }
  }
}

//========================================================================================================================================================

.video {
  @include adaptiveValue("padding-top", 75, 30);
  @include adaptiveValue("padding-bottom", 75, 30);
  &__container {
  }

  &__preview-ibg {
    @include adaptiveValue("border-radius", 30, 20);
    overflow: hidden;
    display: block;
    padding-bottom: 50%;

    @media (any-hover: hover) {
      &:hover {
        img {
          transform: scale(1.05);
        }
      }
    }

    img {
      transition: transform 0.3s ease 0s;
    }
  }
}

//========================================================================================================================================================

.not-suitable {
  @include adaptiveValue("margin-top", 75, 30);
  @include adaptiveValue("margin-bottom", 75, 30);
  @include adaptiveValue("padding-top", 50, 30);
  @include adaptiveValue("padding-bottom", 50, 30);
  border-radius: 20px;
  background-color: #283d88;

  position: relative;
  &::before {
    content: "";
    background-image: url("@img/decore/line-main.svg");
    background-repeat: no-repeat;
    background-size: 100%;
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    pointer-events: none;
  }
  &__container {
  }

  &__maintitle {
    color: #fff;
    @include adaptiveValue("margin-bottom", 50, 40);
  }

  &__items {
    counter-reset: number;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    @include adaptiveValue("gap", 50, 20, 0, 1230, 991);
    @include adaptiveValue("row-gap", 50, 35, 0, 1230, 991);

    @media (max-width: $mobile) {
      grid-template-columns: 1fr;
    }
  }

  &__item {
    background-color: #fff;
    border-radius: 8px;
    padding: toRem(20) toRem(30) toRem(25);

    @media (max-width: $tablet) {
      padding: toRem(20) toRem(15) toRem(25);
    }

    &::before {
      counter-increment: number;
      content: counter(number);

      border-radius: 10px;
      width: 46px;
      height: 46px;
      background-color: #304ea0;

      display: flex;
      justify-content: center;
      align-items: center;

      font-weight: 700;
      font-size: 16px;
      line-height: 155%;
      text-align: center;
      color: #fff;
      margin-bottom: toRem(20);
    }

    position: relative;
    z-index: 1;
    &::after {
      content: "";
      position: absolute;
      width: 100%;
      height: 100%;
      top: 0;
      left: 0;
      background-color: #fff;
      z-index: -1;
      border-radius: 8px;
    }
  }

  &__title {
    font-weight: 600;
    @include adaptiveValue("font-size", 20, 18);
    line-height: 110%;
    max-width: toRem(475);
    &:not(:last-child) {
      margin-bottom: toRem(10);
    }
  }

  &__text {
    max-width: toRem(370);
    @include adaptiveValue("font-size", 20, 18);
    line-height: 130%;
  }
  &__decor {
  }
}

//========================================================================================================================================================

.teachers {
  @include adaptiveValue("padding-top", 75, 30);
  @include adaptiveValue("padding-bottom", 75, 30);
  &__container {
    display: grid;
  }

  &__title {
    &:not(:last-child) {
      @include adaptiveValue("margin-bottom", 50, 30);
    }
  }

  &__items {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(toRem(250), 1fr));
    @include adaptiveValue("gap", 53, 20);

    &:not(:last-child) {
      @include adaptiveValue("margin-bottom", 50, 30);
    }
  }

  &__item {
  }
  &__button {
    justify-self: center;
  }
}

.item-people {
  &__image-ibg {
    padding-bottom: 100%;
    border-radius: 10px;
    overflow: hidden;
    display: block;

    &:not(:last-child) {
      margin-bottom: toRem(16);
    }

    @media (any-hover: hover) {
      &:hover {
        img {
          transform: scale(1.05);
        }
      }
    }
    img {
      transition: transform 0.3s ease 0s;
    }
  }

  &__name {
    font-weight: 400;
    font-size: toRem(16);
    line-height: 94%;
    &:not(:last-child) {
      margin-bottom: toRem(10);
    }
    transition: all 0.3s ease 0s;
    @media (any-hover: hover) {
      &:hover {
        color: #ff9e2c;
      }
    }
  }

  &__place {
    font-weight: 400;
    font-size: toRem(14);
    line-height: 100%;
  }
}

//========================================================================================================================================================

.person {
  @include adaptiveValue("padding-top", 75, 30);
  @include adaptiveValue("padding-bottom", 50, 30);
  &__container {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    @include adaptiveValue("gap", 50, 30, 0, 1230, 991);

    @media (max-width: $tablet) {
      grid-template-columns: 1fr;
    }
  }

  &__image-ibg {
    padding-bottom: percent(580, 575);
    height: fit-content;
    border-radius: 8px;
    overflow: hidden;

    @media (max-width: $tablet) {
      max-width: toRem(600);
      width: 100%;
      justify-self: center;
      height: toRem(600);
      padding-bottom: 0;
    }
    @media (max-width: $mobile) {
      padding-bottom: 100%;
      height: auto;
    }
  }

  &__content {
  }

  &__title {
    font-weight: 400;
    @include adaptiveValue("font-size", 32, 25);
    line-height: 110%;
    padding-bottom: toRem(8);

    border-bottom: 1px solid rgba(40, 61, 136, 0.1);
    margin-bottom: toRem(12);
  }

  &__place {
    font-weight: 400;
    font-size: toRem(14);
    line-height: 107%;

    &:not(:last-child) {
      @include adaptiveValue("margin-bottom", 50, 20);
    }
  }

  &__text {
    font-weight: 400;
    @include adaptiveValue("font-size", 20, 16);
    line-height: 130%;

    p {
      &:not(:last-child) {
        @include adaptiveValue("margin-bottom", 15, 10);
      }
    }
  }
}
